<footer class="dn-footer">
    <div class="dn-footer__row">        
      <div class="dn-footer__col">
        To post your product or service, ping us on via <a href="">twitter</a> or <a href="">facebook</a>.
        <!-- Submit your product or service -->
      </div>
      <div class="dn-footer__col" style="text-align: right;">
        <!-- footer nav -->
        <nav class="dn-footer__nav">  
          <ul>
            <li>
              <a href="">Designer</a>
            </li>
            <li>
              <a href="">Developer</a>
            </li>
            <li>
              <a href="">Startups</a>
            </li>
            <li>
              <a href="">Trends</a>
            </li>
            <li>
              <a href="">Lifestyle</a>
            </li>
          </ul>
        </nav>
        <div class="dn-footer__copy">&copy; 2016 <a href="/" class="dn-footer__brand">designerds.co</a></div>
      </div>          
    </div>
  </footer>



<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
