//------------------------------------------------------------------------------
//  elements
//------------------------------------------------------------------------------
//label
$label                  = "label"
$label-fill             = "fill"
$label-line             = "line"
$label-round            = "round"

//list
$list                   = "list"
$list-item              = ">li, >.sm-list__item"
$list-order             = "order"
$list-unorder           = "unorder"
$list-space             = "space"
$list-inline            = "inline"

//icon
$icon                   = "icon"

//------------------------------------------------------------------------------
//  modules
//------------------------------------------------------------------------------
//form
$form                   = "form"
$form-group             = "group"
$form-label             = "label"
$form-control           = "control"
$form-help              = "help"
$form-valid             = "valid"
$form-invalid           = "invalid"

//button
$button                 = "btn"
$button-primary         = "primary"
$button-accent          = "accent"
$button-brand           = "brand"
$button-ghost           = "ghost"
$button-raised          = "raised"
$button-warn            = "warn"

//------------------------------------------------------------------------------
//  views
//------------------------------------------------------------------------------
//paper
$paper                  = "paper"

//------------------------------------------------------------------------------
//  collections
//------------------------------------------------------------------------------
//toolbar
$toolbar                = "toolbar"
$toolbar-item           = "item"
$toolbar-action         = "action"
$toolbar-title          = "title"
