//------------------------------------------------------------------------------
//  selectors
//------------------------------------------------------------------------------
//product
$product = "product"

//------------------------------------------------------------------------------
//  import
//------------------------------------------------------------------------------
@import "product"