
/* line 297 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app.styl */

/* line 1 : /usr/local/lib/node_modules/stylus/lib/functions/index.styl */

/* line 7 : /usr/local/lib/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/_helpers.styl */

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/_helpers.styl */

/* line 4 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/variable.styl */

/* line 104 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/variable.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */

/* line 55 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/selector.styl */

/* line 3 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/selector.styl */

/* line 145 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/_global.styl */

/* line 100 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/_global.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */

/* line 2 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-width: 0 !important;
}

/* line 8 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
*:before,
*:after {
  box-sizing: border-box;
}

/* line 14 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
html {
  min-height: 100vh;
  background-color: #fff;
}

/* line 19 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 34 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 51 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 60 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 67 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
progress {
  vertical-align: baseline;
}

/* line 74 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
template,
[hidden] {
  display: none;
}

/* line 84 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
img {
  border-width: 0;
}

/* line 90 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 94 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
iframe {
  border-width: 0;
}

/* line 98 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */
hr {
  border-width: 0;
  height: 1px;
  background-color: #e6eaf2;
  overflow: visible;
}

/* line 258 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/normalize.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0;
}

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0;
}

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 0;
}

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h4 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 9px;
  margin-top: 0;
}

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h5 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0;
}

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h6 {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0;
}

/* line 16 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type),
h4:not(:first-of-type),
h5:not(:first-of-type),
h6:not(:first-of-type) {
  margin-top: 24px;
}

/* line 24 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
p:not(:last-child) {
  margin-bottom: 12px;
}

/* line 33 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
a {
  background-color: transparent;
  cursor: pointer;
  color: #18c;
}

/* line 41 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
a:active,
a:hover {
  color: #1081c2;
}

/* line 53 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 61 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
b,
strong {
  font-weight: inherit;
}

/* line 68 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
b,
strong {
  font-weight: bolder;
}

/* line 75 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
dfn {
  font-style: italic;
}

/* line 81 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 88 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
small {
  font-size: 12px;
}

/* line 94 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
sub,
sup {
  font-size: 10px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 102 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
sub {
  bottom: -0.25em;
}

/* line 106 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
sup {
  top: -0.5em;
}

/* line 116 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  background-color: transparent;
  padding: 0;
  color: inherit;
  border-width: 0;
  border-radius: 0;
  color: inherit;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

/* line 136 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
ul,
ol {
  list-style-type: none;
  margin: 0;
}

/* line 142 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
dl {
  display: block;
  margin: 0;
}

/* line 147 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
dt {
  font-weight: bold;
}

/* line 154 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 159 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
th,
td {
  border-width: 0;
}

/* line 169 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button,
input,
select,
textarea {
  font: inherit;
}

/* line 178 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
optgroup {
  font-weight: bold;
}

/* line 182 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
label {
  font-weight: normal;
  margin-bottom: 0;
}

/* line 191 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button,
input,
select {
  overflow: visible;
}

/* line 199 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/* line 208 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
[disabled] {
  cursor: default;
}

/* line 215 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 224 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 232 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 239 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
fieldset {
  border-width: 0;
}

/* line 246 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

/* line 255 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 32 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/global/typography.styl */

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/_layout.styl */

/* line 17 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/_layout.styl */

/* line 32 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 2 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 3 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */
.ez-clearfix:before,
.ez-clearfix:after {
  content: "";
  display: table;
}

/* line 10 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */
.ez-clearfix:after {
  clear: both;
}

/* line 6 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 7 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 8 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */
.ez-tc--muted {
  color: #9ea6a9;
}

/* line 11 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */
.ez-tc--brand {
  color: #e2535f;
}

/* line 35 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/common.styl */

/* line 17 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */

/* line 2 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-wrapper {
  min-height: 100vh;
}
@include cn-clearfix();

/* line 6 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */

/* line 7 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-wrapper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* line 13 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-wrapper__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* line 16 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

/* line 21 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-wrapper__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* line 26 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */
.ez-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  position: relative;
  padding-right: 15px;
}

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */
.ez-container:before,
.ez-container:after {
  content: "";
  display: table;
}

/* line 10 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/helpers/mixin.styl */
.ez-container:after {
  clear: both;
}

/* line 13 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/wrapper.styl */

/* line 35 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */
.ez-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

/* line 5 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */

/* line 6 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */

/* line 9 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */

/* line 6 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/header.styl */

/* line 13 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/footer.styl */

/* line 1 : /Users/cb-dtn/dtn/hackathon/ezhuthalar/stylus/app/layout/footer.styl */
.ez-footer {
  padding: 30px 0;
  text-align: center;
  color: #9ea6a9;
  font-size: 12px;
}
