// On terminal go to website folder and run the command below
// local
//  	stylus -w -l stylus/web.styl -u autoprefixer-stylus -o assets/css/web.css
//	live
//		stylus -w -c stylus/web.styl -u autoprefixer-stylus -o assets/css/web.css

@import "helpers/_helpers"

@import	"global/_global"

@import	"web/layout/_layout"