$headings = 'h1' $font_size_h1 ($font_size_h1+12px) 500 12px,
            'h2' $font_size_h2 ($font_size_h2+12px) 500 12px,
            'h3' $font_size_h3 ($font_size_h3+12px) 300 12px,
            'h4' $font_size_h4 ($font_size_h4+9px) 300 9px,
            'h5' $font_size_h5 ($font_size_h5+6px) 400 6px,
            'h6' $font_size_h6 ($font_size_h6+6px) 400 6px

for $value in $headings {
    {$value[0]}{
        font-size: $value[1];
        font-weight: $value[3];
        line-height: $value[2];
        margin-bottom: $value[4];
        margin-top: 0;
    }
}
h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type),
h4:not(:first-of-type),
h5:not(:first-of-type),
h6:not(:first-of-type){
    margin-top: 24px;
}
p:not(:last-child){
    margin-bottom: 12px;

    +mq(gt-md){
        margin-bottom: 21px;
    }
}

// Links
// ==========================================================================

// 1. Remove the gray background on active links in IE 10.

a {
    background-color: transparent; //1
    cursor: pointer;
    color: $link_color;
    text-decoration: none;

    // Remove the outline on focused links when they are also active or hovered
    // in all browsers (opinionated).

    &:active,
    &:hover {
      color: $link_hover_color;
    }
}

// Text-level semantics
// ==========================================================================

// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.

abbr[title] {
    border-bottom: none; // 1
    text-decoration: underline; // 2
    text-decoration: underline dotted; // 2
}

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.

b,
strong {
    font-weight: inherit;
    font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari.

}


address{
    font-style: normal; 
}

// Add the correct font style in Android 4.3-.

dfn {
    font-style: italic;
}

// Add the correct background and color in IE 9-.

mark {
    background-color: #ff0;
    color: #000;
}

// Add the correct font size in all browsers.

small {
    font-size: $font_size_sm;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.

sub,
sup {
    font-size:  $font_size_xs;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// Grouping content
// ==========================================================================


// 1. Correct the inheritance of font family in all browsers.

code,
kbd,
pre,
samp {
    font-family: $font_family_monospace;// 1
    //Override the twitter bootstarp framework style.
    background-color: transparent;
    padding: 0;
    color: inherit;
    border-width: 0;
    border-radius: 0;
    color: inherit;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

// Lists
// ==========================================================================

ul,
ol{
    list-style-type: none;
    margin: 0;
}

dl{
    display: block;
    margin: 0;
}

dt{
    font-weight: bold;
}

// Table
// ==========================================================================

table{
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td{
    border-width: 0;
}

// Forms
// ==========================================================================

// Change font properties to `inherit` in all browsers (opinionated).

button,
input,
select,
textarea {
    font: inherit;
}

// Restore the font weight unset by the previous rule.

optgroup {
    font-weight: bold;
}

label{
    font-weight: normal;
    margin-bottom: 0;
}

// Show the overflow in IE.
// 1. Show the overflow in Edge.
// 2. Show the overflow in Edge, Firefox, and IE.

button,
input, // 1
select { // 2
    overflow: visible;
}

// Change the cursor in all browsers (opinionated).

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

// Restore the default cursor to disabled elements unset by the previous rule.

[disabled] {
    cursor: default;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
// 2. Correct the inability to style clickable types in iOS.

button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; // 2
}

// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

// Change the border in all browsers (opinionated).

fieldset {
    border-width:0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.

legend {
    color: inherit; // 2
    display: table; // 1
    max-width: 100%; // 1
    white-space: normal; // 1
}

// Remove the default vertical scrollbar in IE.

textarea {
    overflow: auto;
    resize: vertical;
}