//------------------------------------------------------------------------------
//  global
//------------------------------------------------------------------------------
//prefix
$pre_global							= sg
$pre_main                        	= sm
//image path
$img_path						 	= "../images"
//font path
$font_path						 	= "../fonts"

//------------------------------------------------------------------------------
//  alpha
//------------------------------------------------------------------------------
$alpha_1                         	= .87
$alpha_2                         	= .54
$alpha_3                         	= .36

//------------------------------------------------------------------------------
//  color
//------------------------------------------------------------------------------
$color_black                     	= #333333    //black
$color_white                     	= #ffffff    //white
$color_primary                   	= #f74747    //red
$color_accent                    	= #1E88E5    //blue
$color_danger						= #FA6164	 //red
$color_warn                      	= #fbfd8e    //yellow
$color_muted                     	= #6b6e7d    //gray
$color_brand                     	= #ff8046    //red

//------------------------------------------------------------------------------
//  hyperlink
//------------------------------------------------------------------------------
$link_color                      	= #4581FF    //blue
$link_hover_color                	= darken($link_color, 5%)    //blue

//------------------------------------------------------------------------------
//  font-family
//------------------------------------------------------------------------------
$font_family_sans_serif          	= Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
$font_family_serif               	= Georgia, Cambria, Times New Roman, Times, serif
$font_family_monospace           	= Menlo, Monaco, Consolas, Courier New, monospace

//------------------------------------------------------------------------------
//  font-weight
//------------------------------------------------------------------------------
$font_family_reg           	     	= Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
$font_family_bold           	 	= LatoBold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
$font_family_light           	 	= LatoLight, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$font_size_xs                    	= 10px
$font_size_sm                    	= 12px
$font_size_st                    	= 14px
$font_size_md                    	= 18px
$font_size_lg                    	= 22px
$font_size_xl                    	= 32px

//------------------------------------------------------------------------------
//  heading
//------------------------------------------------------------------------------
//font-size
$font_size_h1                    	= $font_size_xl
$font_size_h2                    	= $font_size_lg
$font_size_h3                    	= $font_size_md
$font_size_h4                    	= $font_size_st
$font_size_h5                    	= $font_size_sm
$font_size_h6                    	= $font_size_xs

//------------------------------------------------------------------------------
//  base
//------------------------------------------------------------------------------
$base_font_family                	= $font_family_reg
$base_font_size                  	= $font_size_st
$base_line_height                	= 1.4
$base_text_color                 	= $color_black

//------------------------------------------------------------------------------
//  form
//------------------------------------------------------------------------------
//field
$form_field_space                	= 18px
$form_field_width                	= 306px

//lable
$form_label_color                	= $color_black
$form_label_font_size            	= $font_size_st
$form_label_space                	= 6px

//control
$form_control_color              	= $color_black
$form_control_bg                 	= $color_white
$form_control_font_size          	= $font_size_st
//control border
$form_control_border             	= #B4B4BE
$form_control_border_focus       	= #1E8CE6
//control radius
$form_control_radius             	= 1px
//control shadow
$form_control_shadow             	= inset 2px 2px 3px #DCDCE1;
$form_control_shadow_reverse     	= inset -2px -2px 3px #DCDCE1;
$form_control_shadow_focus       	= 2px -2px 2px 0 rgba(30,139,230,0.18), -2px 2px 2px 0 rgba(30,139,230,0.18)
$form_control_shadow_invalid     	= 2px -2px 2px 0 rgba(250,97,100,0.18), -2px 2px 2px 0 rgba(250,97,100,0.18)
//control height
$form_control_height             	= 42px
//control spacing
$form_control_space              	= 15px

//validation
$form_valid_color                	= #00B200       //green
$form_invalid_color              	= $color_danger  //red
$form_error_color                	= $color_danger

//help
$form_help_color                 	= $color_muted

//group
$form_group_label_bg             	= #E9E9EC


//gt-md
$form_control_height_lg				= 70px
$form_control_space_lg				= 21px
$form_control_font_size_lg			= 19px

//------------------------------------------------------------------------------
//  button
//------------------------------------------------------------------------------
//text color
$btn_text_black                    	= $color_black
$btn_text_white                    	= $color_white
$btn_text_brand                    	= $color_brand
$btn_text_primary                  	= #FF3C3C			//red
$btn_text_accent                   	= $color_accent
$btn_text_warn                     	= $color_warn
$btn_text_danger                   	= $color_danger
$btn_text_muted                    	= $color_muted

//background color
$btn_bg_black                      	= $color_black
$btn_bg_white                      	= $color_white
$btn_bg_brand                      	= $color_brand
$btn_bg_primary                    	= #FF3C3C			//red
$btn_bg_accent                     	= $color_accent
$btn_bg_warn                       	= $color_warn
$btn_bg_danger                     	= $color_danger
$btn_bg_muted                      	= $color_muted

//background color
$btn_bg_hover_black                	= darken($btn_bg_black, 5%)
$btn_bg_hover_white                	= darken($btn_bg_white, 5%)
$btn_bg_hover_brand                	= darken($btn_bg_brand, 8%)
$btn_bg_hover_primary              	= darken($btn_bg_primary, 5%)
$btn_bg_hover_accent               	= darken($btn_bg_accent, 8%)
$btn_bg_hover_warn                 	= darken($btn_bg_warn, 5%)
$btn_bg_hover_danger               	= darken($btn_bg_danger, 5%)
$btn_bg_hover_muted                	= darken($btn_bg_muted, 5%)

//font size
$btn_font_size                     	= 14px
$btn_font_size_lg                  	= 16px

//radius
$btn_radius                        	= 2px

//spacing
$btn_space                         	= 15px

//height
$btn_height                        	= 42px

//shadow
$btn_shadow_dp1                    	= 0 2px 2px rgba(#000000, .12)

//------------------------------------------------------------------------------
//  border
//------------------------------------------------------------------------------
$border_color_base               	= #e6eaf2

//------------------------------------------------------------------------------
//  shadow depth
//------------------------------------------------------------------------------
$shadow_color_1                  	= #C8D0DC    //light blueish gray
$shadow_color_2                  	= rgba(116, 125, 147, 0.4)   //dark blueish gray
//
$shadow_dp2                      	= 0 0 2px $shadow_color_1, 0 2px 2px $shadow_color_2
$shadow_dp3                      	= 0 0 2px $shadow_color_1, 0 0 8px $shadow_color_2
$shadow_dp4                      	= 0 0 2px $shadow_color_1, 0 0 8px $shadow_color_2, 0 8px 8px $shadow_color_2

//------------------------------------------------------------------------------
//  paper
//------------------------------------------------------------------------------
$paper_radius                    	= 2px
$paper_shadow                    	= $shadow_dp2

//------------------------------------------------------------------------------
// container
//------------------------------------------------------------------------------
$container_width = 1240px
$container_space = 24px
