//------------------------------------------------------------------------------
//  selectors
//------------------------------------------------------------------------------
//wrapper
$wrapper = "wrapper"

//container
$container = "container"

//header
$header	= "header"

//footer
$footer	= "footer"

//------------------------------------------------------------------------------
//  variables
//------------------------------------------------------------------------------
//container
$container-width = 1200px
$container-padding = 15px

//------------------------------------------------------------------------------
//  import
//------------------------------------------------------------------------------
@import "common"

@import "wrapper"

@import "header"

@import "footer"