//------------------------------------------------------------------------------
//  selectors
//------------------------------------------------------------------------------
//wrapper
$wrapper = "wrapper"

//container
$container = "container"

//header
$header	= "header"

//footer
$footer	= "footer"

//nav
$nav = "nav"

//banner
$banner = "banner"

//reach
$reach = "reach"

//contact
$contact = "contact"


//------------------------------------------------------------------------------
//  import
//------------------------------------------------------------------------------

@import "wrapper"

@import "header"

@import "footer"

@import "nav"

@import "banner"

@import "reach"

@import "contact"