@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    outline-width: 0!important;
}
*:before,
*:after{
    box-sizing: border-box;     
}

html,
body{
    height: 100%;   
    background-color: #EBEFF5;
}

body{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    color: #333;
    line-height: 1.4;    
    letter-spacing: 0.5px;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ol,
ul{
    list-style-type: none;
}